{% extends 'blog/base.html' %}
{% load static %}
{% block content %}

      <div class="row mb-2">
            {% for post in post %}
        <div class="col-md-6">
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              <h3 class="mb-0">{{post.title}}</h3>
              <div class="mb-1">{{post.author}}</div>
              <div class="mb-1 text-muted">{{post.publish_date}}</div>
              <p class="card-text mb-auto">{{post.body|slice:65}}</p>
              <a href="{% url 'post_detail' post.pk %}" class="stretched-link">Continue reading</a>
            </div>
          </div>
        </div>
            {% endfor %}
      </div>


{% endblock %}
